/* Styles for WebRTC call page */
#webrtc-call-frame {
	position: relative;
	margin: 0px;
    padding: 0px;
}

#webrtc-call-frame > .actionHover {
	position: absolute;
	left: 0px;
    top: 0px;
    padding: 2px;
}

#webrtc-call-starting {
	position: relative;
	width: 100%;
	height: auto;
	vertical-align: middle;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}

.waitThrobber {
	display: block;
	width: 64px;
	height: 100%;
	margin: auto;
	pointer-events: none;
	background: url('/eXoResources/skin/images/Loading/loading64x64Light.gif')
		no-repeat left center !important; /* orientation=lt */
	background: url('/eXoResources/skin/images/Loading/loading64x64Light.gif')
		no-repeat right center !important; /* orientation=rt */
}

.startInfo {
    padding-top: 20%;
    font-size: x-large;
}
