/* 
 * Video Calls common style 
 */
.callButtonContainer {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	white-space: nowrap;
	font-size: 12px;
}

.callButtonContainer .btn {
	min-width: 0;
}

.startCallButton {
	text-align: initial;
}

.startCallButton > i:before {
	font-size: 1px;
}

.startCallButton .callTitle {
	position: relative;
    top: 1px;
}

.spaceCall {
	font-size: 12px;
}

/*
 * We give class defaultCallButton properties of btn-group for such things as border and font, 
 * but other will be omitted to don't be affected by its CSS from PLF core. 
 */
.defaultCallButton + .dropdown-toggle {
	-webkit-border-radius: 0 3px 3px 0;
	-moz-border-radius: 0 3px 3px 0;
	border-radius: 0 3px 3px 0;
	padding-left: 5px;
	padding-right: 5px;
	margin-left: -1px !important;
	font-size: 12px;
}

.defaultCallButton {
	-webkit-border-radius: 3px 0 0 3px;
	-moz-border-radius: 3px 0 0 3px;
	border-radius: 3px 0 0 3px;
}

.defaultCallButton.popoverCall {
	margin-right: 0px;
}

.callButtonContainer .uiIconMiniArrowDown {
	vertical-align: text-bottom;
}

#tiptip_content .connectAction>.callButtonSibling, #tiptip_content .connectAction>.callButtonContainer {
	margin-top: 1ch !important;
}

#UIBreadCrumbsNavigationPortlet .callButtonContainer {
	margin-top: -40px;
}

.callButtonContainerWrapper {
	margin-top: 15px;
    margin-right: 10px;
}

/***** Transparent styles (for space avatar, CSS class will be triggered by Javascript) *******/
.transparentButton, .transparentButton + .dropdown-toggle {
	background: transparent;
	border: solid 1px transparent;
	box-shadow: none;
}

/***** Disabled styles *******/
.startCallButton.disabled {
	color: #999
}
.startCallButton.disabled > i:before {
	opacity: .6
}

/******** Pnotify icons ********/
.picon-32.picon-task-complete {
	background-image: url("icons/oxygen/32/status/task-complete.png")
}

.picon-32.picon-throbber {
	background-image: url("icons/oxygen/32/animations/throbber.gif")
}

.picon-32.picon-dialog-error {
	background-image: url("icons/oxygen/32/status/dialog-error.png")
}

.picon-32.picon-dialog-information {
	background-image: url("icons/oxygen/32/status/dialog-information.png")
}

.picon-32.picon-dialog-warning {
	background-image: url("icons/oxygen/32/status/dialog-warning.png")
}

.picon-32.picon-process-stop {
	background-image: url("icons/oxygen/32/actions/process-stop.png")
}

.picon.picon-task-complete {
	background-image: url("icons/oxygen/16/status/task-complete.png")
}

.picon.picon-throbber {
	background-image: url("icons/oxygen/16/animations/throbber.gif")
}

.picon.picon-dialog-error {
	background-image: url("icons/oxygen/16/status/dialog-error.png")
}

.picon.picon-dialog-information {
	background-image: url("icons/oxygen/16/status/dialog-information.png")
}

.picon.picon-dialog-warning {
	background-image: url("icons/oxygen/16/status/dialog-warning.png")
}

.picon.picon-process-stop {
	background-image: url("icons/oxygen/16/actions/process-stop.png")
}