@import "/videocalls/skin/videocalls.css";
/* 
 * Video Calls Default skin (aka Platform 4.0) 
 */

.callButtonContainer, .spaceCall {
	font-size: 12px;
}

.callTitle {
	color: yellow;
}

/* Call button is more narrow in spaces */
.defaultCallButton.spaceCall {
	padding-right: 3px;
}

.defaultCallButton.spaceCall+.dropdown-toggle {
	padding-left: 3px;
}