@import "/videocalls/skin/videocalls.css";
/* 
 * Video Calls style for Enterprise skin (for Platform 5.0) 
 */
.btn.chatCall {
	padding: 6px 20px;
}

.btn.chatCall.defaultCallButton ~ .dropdown-toggle {
	padding: 6px 5px;
}

.callButtonContainerWrapper {
	margin-top: 12px;
    margin-right: 10px;
}

@media (max-width: 640px) {
	.btn.chatCall {
		padding: 4px 10px;
	}
	
	.btn.chatCall.defaultCallButton ~ .dropdown-toggle {
		padding-top: 4px;
    	padding-bottom: 4px;
	}
}

.transparentButton, .transparentButton + .dropdown-toggle {
	background: transparent !important;
	border: solid 2px transparent !important;
	box-shadow: none !important;
}

.transparentButton .callTitle {
	color: #fff;
}

/* Call button is more narrow in spaces */
.btn.spaceCall, .spaceCall, .defaultCallButton.spaceCall + .dropdown-toggle {
	padding: 1px 5px !important;
	font-size: 12px;
	line-height: 24px;
}

.dropdown-menu .spaceCall {
	margin-left: 5px;
}

.defaultCallButton.spaceCall + .dropdown-menu li > a {
    padding: 5px 10px;
    font-size: 12px;
}

#UIBreadCrumbsNavigationPortlet .callButtonContainer {
	padding-top: 3px;
}

.callButtonContainer .dropdown-menu .popoverCall {
	text-align: initial !important;
}
