/* Styles for Video Calls core */
.callButtonContainer {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	white-space: nowrap;
}

.startCallButton {
	text-align: initial;
}

.callButtonContainer .btn {
	min-width: 0;
}

/*
 * We give class defaultCallButton properties of btn-group for such things as border and font, 
 * but other will be omitted to don't be affected by its CSS from PLF core. 
 */
.defaultCallButton+.dropdown-toggle {
	-webkit-border-radius: 0 3px 3px 0;
	-moz-border-radius: 0 3px 3px 0;
	border-radius: 0 3px 3px 0;
	font-size: 12px;
	padding-left: 5px;
	padding-right: 5px;
	margin-left: -1px !important;
}

.defaultCallButton {
	-webkit-border-radius: 3px 0 0 3px;
	-moz-border-radius: 3px 0 0 3px;
	border-radius: 3px 0 0 3px;
}

.defaultCallButton.userCall {
	margin-right: 0px;
}

.callButtonContainer .uiIconMiniArrowDown {
	vertical-align: text-bottom;
}

#tiptip_content .connectAction>.connect, #tiptip_content .connectAction>.chatPopupOverlay, #tiptip_content .connectAction>.callButtonContainer {
	margin-top: 1ch !important;
}

#UIBreadCrumbsNavigationPortlet .callButtonContainer {
	margin-top: -40px;
}

.inlineButton+.dropdown-toggle {
	padding-top: 2px;
	padding-bottom: 2px
}

.inlineButton {
	padding: 2px 0 2px 5px;
}

/***** Transparent and Disabled styles *******/
.spaceCall {
	background: transparent;
	border: 0;
	box-shadow: none;
	font-size: 12px;
}

.spaceCall + .dropdown-toggle {
	background: transparent;
	border: 0;
	box-shadow: none;
}

.spaceCall.disabled, .userCall.disabled {
	color: #999
}

.spaceCall.disabled > i:before, .userCall.disabled > i:before {
	opacity: .6
}

/******** Pnotify icons ********/
.picon-32.picon-task-complete {
	background-image: url("icons/oxygen/32/status/task-complete.png")
}

.picon-32.picon-throbber {
	background-image: url("icons/oxygen/32/animations/throbber.gif")
}

.picon-32.picon-dialog-error {
	background-image: url("icons/oxygen/32/status/dialog-error.png")
}

.picon-32.picon-dialog-information {
	background-image: url("icons/oxygen/32/status/dialog-information.png")
}

.picon-32.picon-dialog-warning {
	background-image: url("icons/oxygen/32/status/dialog-warning.png")
}

.picon-32.picon-process-stop {
	background-image: url("icons/oxygen/32/actions/process-stop.png")
}

.picon.picon-task-complete {
	background-image: url("icons/oxygen/16/status/task-complete.png")
}

.picon.picon-throbber {
	background-image: url("icons/oxygen/16/animations/throbber.gif")
}

.picon.picon-dialog-error {
	background-image: url("icons/oxygen/16/status/dialog-error.png")
}

.picon.picon-dialog-information {
	background-image: url("icons/oxygen/16/status/dialog-information.png")
}

.picon.picon-dialog-warning {
	background-image: url("icons/oxygen/16/status/dialog-warning.png")
}

.picon.picon-process-stop {
	background-image: url("icons/oxygen/16/actions/process-stop.png")
}