/* Styles for Skype/SfB provider */
.uiIconSocMssfb:before {
    content: url("/skype/skin/icons/sfbicon_14px.png") !important;
}

.uiIconMssfbCall {
	vertical-align: text-bottom;
}

.uiIconMssfbCall:before {
    content: url("/skype/skin/icons/sfbicon_14px.png") !important;
    position: relative;
	margin-right: 3px;
}

.uiMssfbSettings, .uiMssfbSettings>p, .uiMssfbSettings .ui-icon, .uiMssfbSettings .messageText {
	position: relative;
}

.uiMssfbSettings .messageIcon {
	margin-bottom: 30px !important;
}

.mssfbLoginWarningContainer {
	/*margin-top: 15px;
    margin-right: 5px;
	padding: 7px;*/
	margin: 18px 7px 0px 7px;
	color: initial;
}

.mssfbLoginWarningContainer .popover.bottom {
	width: 230px;
    left: -107px;
    top: -8px;
}
.mssfbLoginWarningContainer .popover-content {
	background-color: #FFF4C4; /* @warningBackground */
}
.mssfbLoginWarningContainer .arrow:after {
	border-bottom-color: #FFF4C4 !important; /* @warningBackground */
}

.pnotifyTextLink {
	text-decoration: underline;
}

.pluginError {
    padding-top: 25%;
    font-size: large;
}