/* Styles for Skype/SfB provider */
.uiIconSocMssfb:before {
    content: url("/skype/skin/icons/sfbicon_16px.png");
}

.mssfbCallAction:before {
	content: url("/skype/skin/icons/sfbicon_16px.png");
	position: relative;
	top: 3px;
	margin-right: 3px;
}

.userCall.mssfbCallAction {
	line-height: 17px;
}

.uiMssfbSettings, .uiMssfbSettings>p, .uiMssfbSettings .ui-icon, .uiMssfbSettings .messageText {
	position: relative;
}

.uiMssfbSettings .messageIcon {
	margin-bottom: 30px !important;
}

#mssfb-call-starting {
	position: relative;
	width: 100%;
	height: 400px;
	vertical-align: middle;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}

.waitThrobber {
	display: block;
	width: 64px;
	height: 100%;
	margin: auto;
	pointer-events: none;
	background: url('/eXoResources/skin/images/Loading/loading64x64Light.gif')
		no-repeat left center !important; /* orientation=lt */
	background: url('/eXoResources/skin/images/Loading/loading64x64Light.gif')
		no-repeat right center !important; /* orientation=rt */
}

.mssfb-call-container {
	margin: 15px;
	height: 400px;
}

#mssfb-call-conversation {
	width: 100%;
	height: 100%;
}