/* Styles for SfB call page */
#mssfb-call-frame {
	position: relative;
	margin: 0px;
    padding: 0px;
}

#mssfb-call-frame > .actionHover {
	position: absolute;
	left: 0px;
    top: 0px;
    padding: 2px;
}

#mssfb-call-starting {
	position: relative;
	width: 100%;
	height: auto;
	vertical-align: middle;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}

.waitThrobber {
	display: block;
	width: 64px;
	height: 100%;
	margin: auto;
	pointer-events: none;
	background: url('/eXoResources/skin/images/Loading/loading64x64Light.gif')
		no-repeat left center !important; /* orientation=lt */
	background: url('/eXoResources/skin/images/Loading/loading64x64Light.gif')
		no-repeat right center !important; /* orientation=rt */
}

.startInfo {
    padding-top: 20%;
    font-size: x-large;
}

/* For embedded calls */
#mssfb-call-container {
	position: absolute;
	margin: 0px;
}

#mssfb-call-container>.actionHover {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	margin: 0px;
	z-index: 10000;
	
}

#mssfb-call-container>.actionHover .uiIconClose:before {
	font-size: 18px;
}

.mssfb-call-container {
	margin: 15px;
	height: 400px;
}

#mssfb-call-conversation {
	width: 100%;
	height: 100%;
}
