/* Styles for Skype/SfB provider */
.uiIconSocMssfb:before {
    content: url("/skype/skin/icons/sfbicon_14px.png") !important;
}

.uiIconMssfbCall {
	vertical-align: text-bottom;
}

.uiIconMssfbCall:before {
    content: url("/skype/skin/icons/sfbicon_14px.png") !important;
    position: relative;
	margin-right: 3px;
}

.uiMssfbSettings, .uiMssfbSettings>p, .uiMssfbSettings .ui-icon, .uiMssfbSettings .messageText {
	position: relative;
}

.uiMssfbSettings .messageIcon {
	margin-bottom: 30px !important;
}

.uiIncomingCall .messageAuthor {
	display: inline-block;
	margin: 5px;
}

.uiIncomingCall .messageBody {
	display: inline-block;
}

.uiIncomingCall .messageText {
	position: relative;
    top: -5px;
    display: inline-block;
    margin: 5px;
}

.uiIncomingCall .messageAuthor a>img {
	max-height: 64px;
    max-width: 64px;
    height: 64px;
    margin: 0;
    padding: 0;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    display: block;
}

/****** Login warning *******/
.mssfbLoginButton, .mssfbLogoutButton {
	color: initial;	
}
.mssfbLoginButton .popover.bottom, .mssfbLogoutButton .popover.bottom {
	width: 200px;
}
.no-user-selection .mssfbLoginButton {
	margin: 18px 7px 0px 7px;
}
.no-user-selection .mssfbLoginButton .popover.bottom {
	/*left: -93px;
    top: -11px;*/
}
#room-detail .mssfbLoginButton {
	margin: 20px 7px 0px 7px;
}
.mssfbLoginButton .popover.bottom, .mssfbLogoutButton .popover.bottom {
	left: -94px;
    top: -6px;
}
.mssfbLoginButton .popover.bottom .arrow, .mssfbLogoutButton .popover.bottom .arrow {
	top: -9px;
}
.mssfbLoginButton .popover-content {
	background-color: #FFF4C4; /* @warningBackground */
}
.mssfbLoginButton .arrow:after {
	border-bottom-color: #FFF4C4 !important; /* @warningBackground */
}
.mssfbLogoutButton .popover-content {
	background-color: #D7F8D5; /* @successBackground */
}
.mssfbLogoutButton .arrow:after {
	border-bottom-color: #D7F8D5 !important; /* @successBackground */
}

.mssfbControl {
	display: inline-block;
}

.pnotifyTextLink {
	text-decoration: underline;
}

.pluginError {
    padding-top: 25%;
    font-size: large;
}