/* Styles for Skype provider */

.uiIconSocSkype:before {
    content: url("/skype/skin/icons/skypeicon_14px.png") !important;
}

.uiIconSkypeCall {
	vertical-align: text-bottom;
}

.uiIconSkypeCall:before {
    content: url("/skype/skin/icons/skypeicon_14px.png") !important;
    position: relative;
	margin-right: 3px;
}