/*TODO NOT USED*/

[class^="uiIconWeemo"]:before,
.btn.disabled:hover  [class^="uiIconWeemo"]:before,
.uiIconWeemoLightGray:before,.uiIconWeemoVideoCalls:before {
    content: "\e602";
}

.uiVideoCallAdminPortlet .PemissionInputset{
    margin-right:4px;
}

.popupHeader > button.close{
    background-image: url("../img/uiIconsLightGray.png");
    background-position: -160px -100px;
}

.weemo-alert{
    position: absolute;
    top: 32px;
    width: 100%;
    text-align:center;
    border: none;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    font-size: 14px;
    opacity: 0.9;
    padding: 8px 0;
    border-radius: 0px;
    left: 0px;
}

.uiVideoCallAdminPortlet{
    padding: 32px 20px;
}

.uiVideoCallAdminPortlet .row > .control-group  {
    margin-left: 30px!important;
}
@media (max-width: 768px) {
    .uiVideoCallAdminPortlet .row > .control-group  {
        margin-left: 0px!important;
    }
}
.uiVideoCallAdminPortlet h3{
    text-align: left;
    text-shadow: 0 3px 4px #fff;
    margin:-7px 0 0px;
    color: #2F5E92;
}

.uiVideoCallAdminPortlet h4{
    margin:14px 0;
}

.uiVideoCallAdminPortlet .row .span5 p{
    padding: 6px 0 0 0;
}

.uiVideoCallAdminPortlet .control-group .uiCheckbox{
    margin: 0px;
}

.uiVideoCallAdminPortlet .weemoKey .control-label{
    text-align: left;
    width: auto;
    text-align: right;
}
.uiVideoCallAdminPortlet .control-group.weemoKey{
    margin-bottom: 8px;
}

.uiVideoCallAdminPortlet .weemoKey .controls{
    margin-left: 85px;
}

.uiVideoCallAdminPortlet .weemoKey .controls{
    margin-left: 85px;
}

.uiVideoCallAdminPortlet .actionTestWeemo{
    text-align: center;
    margin-bottom: 28px;
}

.uiVideoCallIconWarning {
    background: url("../img/uiIconColor.png") no-repeat scroll -20px top rgba(0, 0, 0, 0);
    width: 16px;
    vertical-align: text-top;
    height: 16px;
    display: inline-block;
}


.confirmationVideoCallIcon {
    background: url("../img/icons.png") no-repeat;
    padding-left: 20px;
    line-height: 16px;
    height: 16px;
    color: #333333;


    background-position: left -50px;
    font-weight: normal;
    display: block;
    margin: 10px 10px 20px;
}


.btn.disabled{
    font-weight: normal;
}

.connectAction .btn:first-child {
    padding: 4px 10px;
}
.connectAction .weemoCallOverlay,
.connectAction .chatPopupOverlay {
    margin-top: 0px!important;
}
.connectAction {
    padding: 10px 5px;
}
#tiptip_holder {
    width: 260px!important;
    max-width: 260px!important;
}
.twice-line .chatPopupOverlay,
.twice-line .weemoCallOverlay {
    margin-top: 10px!important;
}

#sightCallIncommingForm {
    display:none;
}

.rtcc-startcallbox {
    display: none;
}


/** video call **/
.videoCallCont {
    background: #333;
    height: 100%;
    position: fixed;
    width: 100%;
    overflow: auto;
}

#sightCallConnectionStatus {
    color: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.callling {
    padding: 50px 0;
}

.callling .calleeAvatar img {
    background: #333 none repeat scroll 0 0;
    border-radius: 60px;
    display: inline-block;
    height: 120px;
    width: 120px;
}

.callling .calleeStatus {
    font-size: 16px;
    font-weight: bold;
    margin: 20px 0 10px;
}

.callling .callingStt {
    line-height: 32px;
    vertical-align: text-top;
}

.callling .callingStt span {
    display: inline-block;
    vertical-align: text-top;
}

.callling .callingStt .iconCallDropped {
    background: url('/weemo-extension/img/iconCallDropped.png') no-repeat;
    display: inline-block;
    height: 32px;
    margin-right: 5px;
    vertical-align: text-top;
    width: 32px;
}

.callling .callingStt .iconCallIdle {
    background: url('/weemo-extension/img/iconCallIdle.png') no-repeat;
    display: inline-block;
    height: 32px;
    margin-right: 5px;
    vertical-align: text-top;
    width: 32px;
}

.callling.noAnswer .callingStt {
    margin: 20px 0;
}

.callling .actionBtn .btn {
    margin: 20px 5px;
}

.callling .inProgress {
    font-size: 16px;
    font-weight: bold;
    margin: 25px 0;
}
.callling .iconChatLarge {
    background: url('/weemo-extension/img/iconChatLarge.png') no-repeat;
    width: 132px;
    height: 132px;
    display: inline-block;
}

#sightCallConnectionStatus .pluginIntro {
    width: 830px;
    margin: 0 auto;
}

#sightCallConnectionStatus .pluginIntro .info {
    padding: 35px 100px 50px;
    vertical-align: text-top;
}

#sightCallConnectionStatus .pluginIntro .info .iconWarning {
    background: url('/weemo-extension/img/iconWarningLarge.png') no-repeat;
    display: inline-block;
    height: 144px;
    vertical-align: text-top;
    width: 144px;
}

#sightCallConnectionStatus .pluginIntro .info p {
    display: inline-block;
    font-size: 18px;
    line-height: 25px;
    padding: 50px 0 50px 20px;
    vertical-align: text-top;
}

#sightCallConnectionStatus .pluginIntro .instruction ul {
    padding: 40px 0;
}

#sightCallConnectionStatus .pluginIntro .instruction ul li {
    display: inline-block;
    font-weight: bold;
}

#sightCallConnectionStatus .pluginIntro .instruction ul li:nth-child(2) {
    margin: 0 160px 0 182px;
}

#sightCallConnectionStatus .pluginIntro .instruction ul li span {
    font-size: 24px;
}

/*************/
.incoming-call {
    background: #999;
    border-radius: 3px;
    bottom: 0;
    padding: 15px;
    position: fixed;
    right: 0;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px -1px rgba(35, 44, 48, 0.18);
    -moz-box-shadow: 0 2px 4px -1px rgba(35, 44, 48, 0.18);
    -webkit-box-shadow: 0 2px 4px -1px rgba(35, 44, 48, 0.18);
}

.incoming-call .picto {
    margin-bottom: 15px;
}

.incoming-call .picto div .uiIconClose {
    margin: -10px -10px 0 10px;
    opacity: 1;
}

.incoming-call .picto .avatar img {
    border-radius: 3px;
    width: 36px;
    height: 36px;
}

.incoming-call .name {
    margin-left: 15px;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    padding-top: 5px;
}

.incoming-call .actionBtn a {
    margin: 0 5px;
}

.iconCallDecline {
    background: url('/weemo-extension/img/iconCallDecline.png') no-repeat;
    height: 16px;
    line-height: 16px;
    vertical-align: text-top;
    width: 16px;
    display: inline-block;
}