/* Styles for Skype provider */
.uiIconSocMssfb:before {
    content: url("/skype/skin/icons/sfbicon_16px.png");
}

.uiIconSocSkype:before {
    content: url("/skype/skin/icons/skypeicon_16px.png");
}

.sfbCallIcon:before {
	content: url("/skype/skin/icons/sfbicon_16px.png");
	position: relative;
	top: 3px;
	margin-right: 3px;
}

.skypeCallIcon:before {
	content: url("/skype/skin/icons/skypeicon_16px.png");
	position: relative;
	top: 3px;
	margin-right: 3px;
}

.userCall.skypeCallIcon, .userCall.sfbCallIcon {
	line-height: 17px;
}

.skype-call-container {
	margin: 15px;
	height: 400px;
}

#skype-call-conversation {
	width: 100%;
	height: 100%;
}