/**
 * Skype & Skype for Business CSS tweaks for Enterprise skin.
 */ 
.uiIconSkypeCall:before, .uiIconMssfbCall:before {
	top: -1px;
}

#mssfb-call-container>.actionHover .uiIconClose {
	top: -4px;
    left: 0px;
}