/* Styles for Skype provider */

.uiIconSocSkype:before {
    content: url("/skype/skin/icons/skypeicon_16px.png");
}

.skypeCallIcon:before {
	content: url("/skype/skin/icons/skypeicon_16px.png");
	position: relative;
	top: 3px;
	margin-right: 3px;
}

.userCall.skypeCallIcon {
	line-height: 17px;
}